/* CourseList.css */

.course-list-page {
    display: flex;
    max-width: 80%;
    margin: 0 auto; /* Center the items horizontally */
}

.course-container {    
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;;
    text-align: left; /* Align text to the left */
    margin: 5% auto;
  }
  
.course-list-header {
display: flex;
justify-content: space-between;
align-items: center;
}

.course-item {
margin-bottom: 20px; /* Add some margin between each course item */
}

  
.course-container button {
    padding: 10px 20px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; /* Center the buttons horizontally */
    display: block; /* Ensure each button occupies a full line */    
}

.course-container button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}


.course-list-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.course-list-header .plus-icon {
    padding: 10px 15px;
    width: 100%;
    color: #007bff;
    border: none;
    border-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    margin: 30% 0; /* Center the buttons horizontally */
    display: block; /* Ensure each button occupies a full line */    
}

.course-list-header .plus-icon:hover {
    color: #0056b3;
}
  